
body, html{
	height:100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #C3E0C8;

	@font-face { 
	font-family: "MANIFESTO";
	src url("Fonts/MANIFESTO.ttf")
    }

@font-face { 
	font-family: "Besom";
	src url("Fonts/Besom.ttf")
    }
	
}


    
 #jumbo{
 	color: transparent;
 }

    

.navbar-nav{

	display: block;

	text-align: center;

}

.video{
	background: #e3e3e3;
 	
}



/* Het menubalkje */
.navbar-inverse{

	background-color:#C3E0C8;
	opacity: 0.7;
	border: none;
}

/* Pijltje op homepage*/

 .btn-custom {
  color: transparent;
  background-color: transparent;
  border: transparent;
}

.btn-default {
	color: none;
	background-color: none;
	border: none;
	}

h1{
	font-family: "MANIFESTO";
	font-size: 75px;
	font-weight: 700;
}
h2{
	font-family: "MANIFESTO";
	text-align: center;
	font-size: 20px
}

h3{
	text-align: center;
	line-height: 5;
	font-family: "MANIFESTO"
}

h4{
	margin-bottom: 0px;
}

       
.btn-default {
    color: none;
    background-color: transparent;
    border-color: transparent;
}

.paginatitel{
	margin-top: 100px;
}

/*
.center{
	display: block;
   	position: relative;
   	top: 50%;

   	margin: auto;
	position: relative;
	top: 50%;

    text-align: center;
}
*/

#pijltje{width: 10px; height: 10px;}


.allpages{

	text-align: center;
	height: 100%;
	min-height: 500px;
 	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.allpages .col-sm-9 {text-align: left;

}
#homepage {
	display: block;
   	position: relative;
   	padding-top: 20%;

   	margin: auto;
	position: relative;
	

	text-align: center;

	background-color: #C3E0C8;
	height: 100%;
 	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#pagina1{
	background-color: #F3EFE0;
	height: 120%;
	
}


#pagina2{
	background-color: #C3E0C8;
	height: 100%;
}
#pagina3{
	background-color: #F3EFE0;
	height: 100%;
}
#pagina4{
	background-color: #C3E0C8;
	height: 100%;
}

img.img-responsive.img-rounded {
	display: initial;
}
#deel2{
	background-color: #F3EFE0;
	height: 120%;
}